<h1>Search Results</h1>

<ol>
  <div class="results">
    <% @stations.each do |station| %>
      <li>
        Name: <%= station.name %><br>
        Address: <%= station.address %><br>
        Fuel Type: <%= station.fuel_type %><br>
        Access Times: <%= station.access_times %><br>
        Distance: <%= station.distance %><br>
      </li>
    <% end %>
  </div>
</ol>
